.board {
    position:absolute;
    bottom:0;
    left:50%;
    display:flex;
    width:700px;
    flex-wrap:wrap;
    transform:translateX(-50%) scale(1);
}
.hole{
    position:relative;
    width:100px; height:100px;
    margin:0 auto;
    overflow:hidden;
    cursor:pointer;
}
.hole::after{
    content:'';
    position:absolute;
    left:10px; top:10px;
    border-radius:100%;
    width:80px; height:80px;
    box-shadow: 0px 0px 0px 2000px #E3DFD2;
}

.hole:hover {
    background-color:yellow;
}
/* .hole:hover::after {
    box-shadow:0px 0px 0px 2000px yellow;
} */

.piece {
    display:none;
    position:absolute;
    transition: transform 0.3s;
    left:50%;
    bottom: 610px;
    width: 80px;
    height:80px;
    border-radius:50%;
    background:red;
    box-shadow: 0 0 0 1px black, 0 0 0 4px red;
    transform: translateX(-50%) scale(1);
}
.bluePiece {
    display:none;
    position:absolute;
    transition: transform 0.3s; 
    left:50%;
    bottom: 610px;
    width: 80px;
    height:80px;
    border-radius:50%;
    background:blue;
    box-shadow: 0 0 0 1px black, 0 0 0 4px blue;
    transform: translateX(-50%) scale(1);
}